<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
		
      <img src="../assets/img/cupcake-drawing.jpg" alt="Cupcake image" class="cupcakeImg" />
			<h1> Best Cupcakes! </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each cupcake}}
			  	{{#unless this.devoured}}
				<div class="col-xs-9">
					<pre>
					{{this.id}}.{{this.cupcake_name}}
					</pre>
				  	
				</div>
				<div class="col-xs-3 text-center">
					<div class="button-size">
						<span>{{this.id}} </span>
						<button type="submit" data-id="{{this.id}}" class="change-devoured" class="btn-default">Devour it!</button>
					</div>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each cupcake}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}}. {{this.cupcake_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="create-form col-xs-12 text-center enter_section">
			<form action="/api/cupcake" method="POST">
        <input type="text" id="ca" name="name" class="form-control">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Add your yummy cupcake !</button>
			</form>
			<p>Enter a favorite cupcake that you would like to devour and hit that button.</p>
		</div>
	</div>
</div>
